
html{
}
body{
    border:solid 1px black;
    margin:0;
    padding:0;
    height:100%;
}

header, nav{
    width:70%;
    padding:0;
    margin:auto;
}

header{
    background-color:grey;

}

nav{
    background-color:lightgrey;
}

section{
    width:70%;
    padding:0;
    margin:0;
    border:solid 3px blue;
    display:inline-block;
}
.ads, .ads1{
    width:10%;
    display:inline-block;
    margin:0;
    padding:0;
}

.ads1{
    /*padding-right:5%;*/
}

.ads{
    /*padding-left:5%;*/  
}

footer{
    position:fixed;
    bottom:0px;
    text-align:center;
    background-color:lightgrey;
	left: 0px;
	right: 0px;
	margin:auto;
    padding:0;
}

