
body{
    margin:0px;
    padding:0px;
    border:0px;
}

#content{
    width:70%;
    padding:0px;
    margin:0;
    border:0px;
    /*display:inline-block;*/
    float:left;
}

header{
    background-color:grey;
}

nav{
    background-color:lightgrey;
}

.ads, .ads1{
    width:10%;
    /*display:inline-block;*/
    float:left;
    margin:0px;
    padding:0px;
    border:0px;
}

.ads1{
    padding-right:5%;
}

.ads{
    padding-left:5%;
}

footer{
    position:fixed;
    bottom:0px;
    border:0px;
    padding:0px;
    margin:0px;
    text-align:center;
    background-color:lightgrey;
	left: 0px;
	right: 0px;
}

