
@model HC.Radek.Ex5.Routing.Models.CarList
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        @DateTime.Now 
        @foreach(var car in Model.cars)
        {
            <div>@car.Model</div>
        }

    </div>
</body>
</html>
