
body {
  background: black; 
  margin: 0 auto;
  padding: 0 auto;
}

#clock {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20pt;
  color: orange;
}

.separator::before{
  content: ':';
  padding: 0 10px;
  margin-top: -5px;
  position: relative;
  top: -3px;
  color: white;
}