@model HC.Radek.Ex5.Routing.Models.Person
@{
    Layout = "~/Views/Shared/MyLayout.cshtml";
}


    <div> 
        Dziękujemy za zakupy!<br/>
        Towar zostanie wysłany do: <br/>
        
                @Model.FirstName
                 
                @Model.LastName<br/>
                @Model.City
    </div>

